{% extends "basic.html" %}
{% load static %}

{% block title %}欢迎来到LH的主页{% endblock %}

{% block links %}
    <script src="{% static "js/utils.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/Markdown.css" %}">
{% endblock %}

{% block style %}
    <style>
        body{
            width: 100%;
            margin: 0;
            padding: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }
        .b-icon {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron" style="margin: 50px 10% 0 10%; background-color: rgba(200, 200, 200, 0.3);">
            <h1 class="display-4">{{ blog.fn }}</h1>
            <p class="lead">(<script>document.write(fileTime({{ blog.fmt }}, '编辑'));</script>，
                <script>document.write(fileTime({{ blog.fct }}, '创建'));</script>)</p>
            <hr class="my-4">
            <p>{{ blog.html| safe}}</p>
        </div>
        <!-- 评论面板 -->
        <div class="col-md-12 col-sm-12">
            <span>评论数：{{ comments_count }}</span>
            <table class="table  table-hover">
                {% for comment in comments %}
                    <tr class="comment-item" id='{{ comment.cid }}'>
                        <td>
                            <div>
                                <span class="margin-right-10px"><b>{{ comment.uid }}</b></span>
                                <span> {{ comment.ctime }}</span>
                            </div>
                            <span>{{ comment.content }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="col-md-12 container">
                <form method="POST" action="/comment/" role="form" id="comment_form">
                    {% csrf_token %}
                    <input type="text" value="{{ blog.bid }}" name="bid" style="display: none;">
                    <div class="form-group">
                        <textarea rows="4"  class="margin-top-bottom-10px col-md-12 form-control" name="comment" placeholder="请输入评论" form="comment_form"></textarea>
                    </div>
                    <button type="submit" class="btn btn-block btn-success" >发表评论</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
