{% extends "basic.html" %}
{% load static %}

{% block content %}
<html>
<head>

<script type="text/javascript" src="/static/js/register.js"></script>
<title>注册</title>
</head>
<body>

	<div class="container margin-top-150">
       <form role="form" method="POST" action="/register/">
            {% csrf_token %}
			<div class="form-group">
				<label class="sr-only" for="userId">number</label> <input
					type="text" class="form-control" name="userId" id="userId"
					placeholder="请输入账户">
			</div>
			<div class="form-group">
				<label class="sr-only" for="exampleInputPassword3">Password</label>
				<input type="password" class="form-control" name="pwd" id="pwd"
					placeholder="请输入密码">
			</div>
			<div class="form-group">
				<label class="sr-only" for="exampleInputPassword3">Password</label>
				<input type="password" class="form-control" name="rpwd" id="rpwd"
					placeholder="请输再次入密码">
			</div>
			<button type="submit" class="btn btn-primary btn-block">注册</button>
        </form>
	</div>

    <script>

    </script>
</body>
</html>
{% endblock %}